

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}



.wettertext{

    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    width: 100%;
    

}


.blau{
    color: blue;
    background-color: yellow;
    width: 100%;
}

.rot{
    color: red;
    background-color: pink;
    width: 100%;
}



ul {
    list-style-type: none; /* Entfernt die Punkte vor den Listenelementen */
    padding: 10px;
    margin: 10px;
}

li {
    display: inline-block;
    border: 1px solid #000; /* Fügt eine schwarze Border zwischen den Listenelementen hinzu */
    padding: 10px; /* Optional: Fügt etwas Abstand zwischen den Elementen hinzu */
}